services:
  anzostudio:
    build: src
    container_name: anzostudio
    depends_on:
      - anzodb
    restart: unless-stopped
    environment:
      - TIMEZONE=America/Los_Angeles
    ports:
      - "0.0.0.0:61616:61616"
      - "0.0.0.0:61617:61617"
      - "0.0.0.0:8022:8022"
      - "0.0.0.0:8945:8945"
      - "0.0.0.0:8946:8946"
    volumes:
      - anzo_studio_vol:/opt/Anzo
      - anzo_shared_vol:/opt/Anzo/shared
  anzodb:
    image: cambridgesemantics/anzograph-db:3.2.1
    container_name: anzodb
    restart: unless-stopped
    environment:
      - TIMEZONE=America/Los_Angeles
    ports:
      - "0.0.0.0:5600:5600"
      - "0.0.0.0:5700:5700"
    volumes:
      - anzo_shared_vol:/opt/Anzo/shared
      - anzo_graph_vol:/opt/anzograph
volumes:
  anzo_studio_vol:
  anzo_graph_vol:
  anzo_shared_vol:
