#!/bin/bash
#Use this file to help automate the ai-hub installation.  After install, it is recommended to delete this file from your system
#
# Configure the empty fields

# aihubuser=mylinuxuser
# this should be the linux user name in the OS
# that installed AI-Hub, not the website admin
aihubuser=

# aihubhostname=192.168.1.201 or aihub.example.com
aihubhostname=

# Please enter a timezone.  Examples: UTC AZT America/New_York
linuxtimezone=

# This is the password for the ai-hub webpage "admin" user.
# This is not the linux user password in the OS.
aihubpassword=

#License type chart
#
# O = On prem license written like port@hostname eg 6200@licenseserver.example.com
# C = Credentials license with Username and Password
# A = Auth Code license.  
# L = Legacy license key from my.rapidminer.com
# eg "LicenseMode=O" would indicate on prem licensing
# Valide entries are O, C, S, or L
LicenseMode=

# O On prem data.  Only fill out for on prem license address:port
LicensePath=

# C Credentials data.  Only fill out for credentials license, use the license manager credentials
LicenseUser=
LicenseUserPassword=

# L Legacy data.   Only fill out for Legacy license from my.rapidminer.com
aihublicense=

# A Auth Code.   USe Altair One website to create code.
LicenseAuthCode=
